fastapi
uvicorn[standard]
python-dotenv
pydantic
aiofiles
requests
Pillow
SpeechRecognition==3.14.3
google-generativeai
transformers
torch
spacy==3.7.4
spacy-transformers>=1.2.5
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl
